{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time-Series Dataset Similarity Explorer</title>

    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>
<body>
    <main class="app-window">
        <header class="app-header">
            <h1>Time-Series Dataset Similarity Explorer</h1>
        </header>

        <section class="dashboard">
            <div class="panel left-panel">
                <h2>Datasets</h2>

                <label class="upload-button" for="dataset-upload">
                    Upload
                </label>
                <input id="dataset-upload" type="file" accept=".txt,text/plain" hidden>
                <p id="import-status" class="import-status" role="status" aria-live="polite" hidden></p>

                <div class="dataset-list" id="dataset-list"></div>

                <div class="method-control">
                    <details class="method-selector">
                        <summary>Select method</summary>

                        <div class="method-options">
                            <button type="button">DTW</button>
                            <button type="button">DTW_GI</button>
                            <button type="button">SHAPE_DTW</button>
                            <button type="button">DDTW</button>
                            <button type="button">WDTW</button>
                            <button type="button">WDDTW</button>
                            <button type="button">ADTW</button>
                            <button type="button">SOFT_DTW</button>
                            <button type="button">MSM</button>
                            <button type="button">TWE</button>
                        </div>
                    </details>
                    <p id="current-method">current method : DTW</p>
                </div>
            </div>

            <div class="panel center-panel">
            </div>

            <div class="panel right-panel">
            </div>

        </section>
    </main>
    <script src="{% static 'core/js/upload_dataset.js' %}" defer></script>
    <script src="{% static 'core/js/set_deletion.js' %}" defer></script>
    <script src="{% static 'core/js/method_selection.js' %}" defer></script>
</body>
</html>